header{
	
		align-items: center;
		background-color: rgb(234, 47, 47);
		padding: 15px 30px;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.fdh{
	background: green;
}

.ldm{
	background: blue;
}
.SOS{
	background: purple;
}
.rd{
	background: red;
}
.Ing{
	background: yellow;
}
.fol{
	background-color: aqua;
}
.bd{
	background-color: brown;
}
.pi{
	background-color: darkslategrey;
}
.dg{
	background-color: darkorange;
}
footer{
	padding: 1mm;
	text-align: center;
}
table{
	width: 100%;
	border-collapse: collapse;
}
thead{
	border: 1px solid;
	background-color: rgb(234, 47, 47);
	padding: 1mm;
}
header h1{
	color: white;
	font-size: 1.2rem;
	margin: 0;
	font-family: Arial, sans-serif;
}
nav a{
	color: #cbd5e1;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: bold;
	padding: 8px 16px;
	margin-left: 10px;
	border-radius: 4px;
	transition:all 0.3s ease;

}
nav a:hover{
	background-color: #3b82f6; 
	color: #ffffff;

}
